* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
div,
header,
footer {
  border: 1px #000 solid;
}

header {
  height: 100px;
}

header ul,
footer ul {
  display: flex;
  justify-content: center;
}

header li,
footer li {
  display: inline-block;
  width: 20%;
  text-align: center;
  text-decoration: none;
  background: #63f;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 2px #63f;
  padding: 2px 4px;
  border: dashed 1px #fff;
  margin-right: 10px;
}

header li:hover,
footer li:hover {
  border: dotted 1px #fff;
}

header a,
footer a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.content {
  width: 300px;
  height: 100%;
  float: left;
  margin: 1% 1%;
}

.content-1 {
  width: 800px;
  height: 100%;
  float: left;
  margin: 1% 1%;
}

.title a {
  text-decoration: none;
}
.contents {
  width: 1200px;
  height: 100%;
  float: left;
  margin: 0 auto
}

.left-wrapper {
  float: left;
}

.sidebar {
  width: 200px;
  height: 100%;
  float: right;
  margin: 1% 0.5%;
}

.sidebar-content {
  width: 200px;
  height: 100%;
  margin: 0 auto;
}

.advertise {
  height: 100%;
}

footer {
  bottom: 0;
}
